<footer class="page-footer" id="custom-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 id="white-text">RUBBER DUCKY CONSULTING</h5>
        <p class="grey-text text-lighten-4">Solving complex issues one blank stare at a time.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Rubbery Ducky Consulting
    </div>
  </div>
</footer>
